<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>Settings</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->
<!--  <ion-list>-->

<!--  </ion-list>-->
<!--  <ion-list>-->
<!--    <ion-item button>-->
<!--      Storage Options-->
<!--    </ion-item>-->
<!--    <ion-item button>-->
<!--      Storage Options-->
<!--    </ion-item>-->
<!--    <ion-item button>-->
<!--      Storage Options-->
<!--    </ion-item>-->
<!--  </ion-list>-->
<!--</ion-content>-->

<app-page-scaffold title="Settings">
  <ion-list>
    <ion-item button>
      Storage Options
    </ion-item>
    <ion-item button>
      Storage Options
    </ion-item>
    <ion-item button>
      Storage Options
    </ion-item>
    <ion-item button>
      Storage Options
    </ion-item>
  </ion-list>
</app-page-scaffold>
